/**
 * Created by Administrator on 2017/3/16.
 */
/*登录*/
.box{
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-image:url(../images/bg.jpg);
    background-size: 100% 100%;   
}
.login{
    position: absolute;
    width: 350px;
    height: 450px;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px 3px rgba(0,0,0,.3);
    color: #1C77AB;
    font-size: 16px;
    background: #ffffff;
}
.login input.verify{
    width: 145px;
}
.m-line{
    position: relative;
    margin-top: 20px;
}
.login .layui-form input{
    width: 100%;
    height: 30px;
    border: 0;
    position: absolute;
    top:24px;
    left:0;
}
.inner_login>div{
    text-align: center;
    margin-bottom: 30px;
}
.login .layui-form-checked[lay-skin=primary] i{
    background-color:#0871AD;
    border-color:#0871AD;
}
.login>h2{
    font-size: 28px;
    font-weight:bold;
    text-align: center;
}
.btn{
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    color:#ffffff;
    outline: 0;
    border: 0;
    cursor: pointer;
    background:-webkit-linear-gradient(#3e8eab,#0871AD);
    background:-moz-linear-gradient(#3e8eab,#0871AD);
    background:-o-linear-gradient(#3e8eab,#0871AD);
    background:linear-gradient(#3e8eab,#0871AD);
}
.verify-img{
    position: absolute;
    top:23px;
    right: 0;
    width: 130px;
    height: 32px;
    border: 1px solid #dddddd;
}
.login p{
    text-align: center;
    font-size: 14px;
    color: #666666;
}
.g-line-path{
    fill: transparent;
    stroke-width:2px;
    stroke:#e2e2e2;
}
.g-line-fill{
    animation: lineMove 1s ease forwards;
    -webkit-animation:lineMove 0.5s ease forwards;
}
.g-short-line-fill{
    animation: short-lineMove 1s ease forwards;
    -webkit-animation:short-lineMove 0.5s ease forwards;
}
@-webkit-keyframes lineMove {
    0% {
        stroke-dasharray: 0 145;
        stroke-dashoffset: -145;
        stroke-width: 2px;
    }
    100% {
        stroke-dasharray: 290;
        stroke-dashoffset: 0;
        stroke-width: 2px;
        stroke:#0871AD;
    }
}
@keyframes lineMove {
    0% {
        stroke-dasharray: 0 145;
        stroke-dashoffset: -145;
        stroke-width: 2px;
    }
    100% {
        stroke-dasharray: 290;
        stroke-dashoffset: 0;
        stroke-width: 2px;
        stroke:#0871AD;
    }
}
@-webkit-keyframes short-lineMove {
    0% {
        stroke-dasharray: 0 72.5;
        stroke-dashoffset: -72.5;
        stroke-width: 2px;
    }
    100% {
        stroke-dasharray: 145;
        stroke-dashoffset: 0;
        stroke-width: 2px;
        stroke:#0871AD;
    }
}
@keyframes short-lineMove {
    0% {
        stroke-dasharray: 0 72.5;
        stroke-dashoffset: -72.5;
        stroke-width: 2px;
    }
    100% {
        stroke-dasharray: 145;
        stroke-dashoffset: 0;
        stroke-width: 2px;
        stroke:#0871AD;
    }
}

/*复选框字体颜色*/
.layui-form-checkbox[lay-skin=primary]:hover i{
	border-color:#0871AD;
}
.login .layui-form-checked, .layui-form-checked:hover {
    border: 1px solid  #0871AD;
    background-color: #0871AD;
}
.login .layui-form-checkbox {
	margin: 0px 10px 11px;
}
.login .layui-form-danger:focus{
    border: 1px solid transparent!important;
}
/* 个人信息 */
#wrap .layui-form-item .layui-input-inline {
	margin-right: 0;
	width: 300px;
}

#wrap .layui-form-label {
	text-align: left;
	padding: 9px 0;
}

#keep {
	margin-left: 316px;
}

#wrap .layui-table td:first-child {
	text-align: center;
}

#wrap .layui-table td, .layui-table th {
	padding: 16px;
}

#wrap .person {
	float: left;
	width: 150px;
	text-align: center;
	padding-top: 20px;
}

#wrap .person img {
	display: block;
	width: 80px;
	height: 80px;
	border: 4px solid #e2e2e2;
	border-radius: 50%;
	margin: 4px auto 8px;
}

#wrap .info {
	float: left;
	margin-left: -13px;
}

#wrap .info li {
	padding: 12px;
}

#wrap .info li span {
	margin-left: 30px;
}